<html lang="{{ .Site.LanguageCode }}">
    <head>
        <title>{{ .Site.Title }}</title>
        <meta charset="utf-8" />
        <meta name="description" content='{{ .Description }}' />
        <meta name="keywords" content='{{ delimit .Keywords ", "}}' />

        {{- partial "head/styles.html" . -}}
        {{- partial "head/favicons.html" . -}}
        {{- partial "head/verification.html" . -}}
    </head>
    <body>
        <header>
            <h1>{{ .Title }}</h1>
        </header>
        <main>
            {{- block "main" . }}{{- end }}
            <a href="https://github.com/isqua?tab=repositories&amp;sort=stargazers" class="other">
                See others on Github
            </a>
        </main>
        <footer class="footer">
            <p class="copyright"><span>©</span> isqua</p>
            <p><a href="mailto:isqua@isqua.ru">isqua@isqua.ru</a></p>
        </footer>
        {{- partial "telemetry/yandex.html" . -}}
    </body>
</html>
