{{- $title := .Get "title" -}}
{{- $cover := .Get "cover" -}}
{{- $cover_dark := .Get "cover-dark" -}}
{{- $url := .Get "url" -}}

<article class="project d-flex flex-column border rounded color-shadow-small color-bg-subtle">
    <a href="{{ $url }}" target="_blank" tabindex="-1" class="color-shadow-small">
        <picture>
            {{- with $cover_dark -}}
                <source srcset="{{ . }}" media="(prefers-color-scheme: dark)">
            {{- end -}}
            <img src="{{ $cover }}" alt="{{ $title }}" class="project-pic rounded-top-2" />
        </picture>
    </a>
    <div class="d-flex flex-justify-between flex-items-start flex-wrap gap-2 px-3 pt-3 pb-2 border-top border-gray-light">
        <h3 class="project-name lh-condensed m-0">
            <a href="{{ $url }}" target="_blank">
                {{ $title }}
            </a>
        </h3>
    </div>
    </a>
    <div class="project-desc px-3 pb-3">
        {{ .Inner | markdownify }}
    </div>
    {{- with (.Get "labels") -}}
        <ul class="mt-auto list-style-none flex-wrap px-3 py-0">
            {{- range split . "," -}}
                <li class="Label Label--inline mr-2">{{ . }}</li>
            {{- end -}}
        </ul>
    {{- end -}}
</article>
