{{- $title := .Get "title" -}}
{{- $cover := .Get "cover" -}}
{{- $url := .Get "url" -}}

<article class="project">
    <a href="{{ $url }}">
        <img src="{{ $cover }}" alt="{{ $title }}" class="project-pic" />
        <h2 class="project-name">
            {{ $title }}
            {{- if .Get "stars" -}}
                {{- $url := printf "https://ghbtns.com/github-btn.html?%s&type=star&count=true" (.Get "stars") -}}
                <iframe src="{{ $url }}" frameborder="0" scrolling="0" width="90" height="20" title="GitHub"></iframe>
            {{- end -}}
        </h2>
    </a>
    <div class="project-desc">
        {{ .Inner }}
    </div>
</article>
